{% extends "base.html" %}            
    {% block content %}
        {% if user.is_authenticated %}
            <div id="login">
                <p >Welcome, <span class="red">{{ user.username }}</span>. Thanks for logging in.<br /> 
                    <a href="{% url logout_url %}" class="red">Log out</a></p><br/>
            </div>
            {% for profile in arpaso_profiles %}
                <div class="box">
                    <h4>{{ profile.first_name }} {{ profile.last_name }}</h4>
                    {% if profile.date_of_birth %}
                        <p class="date_of_birth">Date of birth: {{ profile.date_of_birth }}</p>
                    {% endif %}
                    {% if profile.country %}
                        <p class="country">Origin: {{ profile.get_country_display }}</p>
                    {% endif %}
                    {% if profile.biography %}
                        <p class="biography">{{ profile.biography }}</p>
                    {% endif %}
                    {% if profile.contacts %}            
                        <p class="contacts">{{ profile.contacts }}</p>
                    {% endif %}
                </div>
                <div class="clearing"></div>
            {% endfor %}
        {% else %}
        <div id="login">
            <p>Welcome, dear <span class="red">Guest</span>.<br /> Our data is confidential. <br /><br />To view any Arpaso.com UserData, you must <a href="{% url login_url %}" class="red">log in</a> first.</p>
         </div>
        {% endif %}

    {% endblock %}