{% extends "base.html" %}            
    {% block content %}
        {% if user.is_authenticated %}
            <div id="login">
                <p >Welcome, <span class="red">{{ user.username }}</span>. Thanks for logging in.<br /> 
                    <a href="{% url logout_url %}" class="red">Log out</a></p><br/>
            </div>

            <a href="{% url url_create_profile %}" class="createnew"> Create new Arpaso Profile</a>

            {% for profile in arpaso_profiles %}
                <div class="box">
                    <a href="{{ profile.get_absolute_url }}"><h4>{{ profile.first_name }} {{ profile.last_name }}</h4></a>
                    {% if profile.date_of_birth %}
                        <p class="date_of_birth">Date of birth: {{ profile.date_of_birth }}</p>
                    {% endif %}
                    {% if profile.country %}
                        <p class="country">Origin: {{ profile.get_country_display }}</p>
                    {% endif %}
                    {% if profile.biography %}
                        <p class="biography">{{ profile.biography }}</p>
                    {% endif %}
                    {% if profile.contacts %}            
                        <p class="contacts">{{ profile.contacts }}</p>
                    {% endif %}
                </div>
                <div class="clearing"></div>
            {% endfor %}

            {# .... pagination section .... #}
            {% if is_paginated %}
                <div id="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="/?page={{ page_obj.previous_page_number }}">PREVIOUS | </a>
                        {% endif %}
                        <span class="page-current">
                            {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </span>
                        {% if page_obj.has_next %}
                            <a href="/?page={{ page_obj.next_page_number }}"> | NEXT PAGE</a>
                        {% endif %}
                    </span>
                    <br /><br /><p class="red">{{ settings.TIME_ZONE }}</p>
                    <br /><p>{{ domaindata }}</a></p>

                </div>
            {% endif %}
        {% else %}
        <div id="login">
            <p>Welcome, random <span class="red">Agent</span>.<br /> Our data is confidential. <br /><br />To view any Arpaso.com UserData, you must <a href="{% url login_url %}" class="red">log in</a> or register below.</p><p class="fineprint"><a href="{% url create_new_user %}" class="red">Register new user</a></p>
         </div>
        {% endif %}

    {% endblock %}